
<div class="row" *ngIf="tournaments$ | async as tournaments">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let tournament of tournaments">
    <!-- <app-merchant-widget [merchant]="merchant" [routerLink]="'/merchants/' + merchant.id"></app-merchant-widget> -->
    <div class="card ml-2 mt-2" role="button" [routerLink]="'/tournament/' + tournament.tournamentId">
      <div class="card-header bg-dark text-white">Tournament</div>
      <div class="card-body">Name: {{tournament.tournamentName}}</div>
      <div class="card-footer"></div>
    </div>
  </div>
  <div class="col-sm-4 ml-3 mb-2" *ngIf="!tournaments.length">This list is empty</div>
</div>
