<div class="card mt-2 ml-2 mr-2">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="card ml-2 mt-2 mr-2 shadow rounded">        
          <div class="card-header bg-dark text-white"><span>Event Detail</span>
            <a class="float-right" *ngIf="(user$ | async).roleName === roles.Admin">
              <i role="button" class="fa fa-edit" tooltip="Edit" aria-hidden="true" [routerLink]="['/event/'+ eventDetail.eventDetailId + '/edit']"></i>
            </a>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Event detail name
                <span class="badge badge-dark badge-pill">{{eventDetail?.eventDetailName}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Event name
                <span class="badge badge-danger badge-pill">{{event?.eventName}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Status
                <span class="badge badge-danger badge-pill">{{eventDetailStatus[eventDetail?.eventDetailStatusId]}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Event detail number
                <span class="badge badge-success badge-pill">{{eventDetail?.eventDetailNumber}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Event detail odd
                <span class="badge badge-warning badge-pill">{{eventDetail?.eventDetailOdd}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Finishing position
                <span class="badge badge-danger badge-pill">{{eventDetail?.finishingPosition}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                First timer
                <span class="badge badge-info badge-pill" *ngIf="eventDetail?.firstTimer">
                  <i class="fas fas fa-check"></i>
                </span>
                <span class="badge badge-info badge-pill" *ngIf="!eventDetail?.firstTimer">
                  <i class="fas fas fa-times"></i>
                </span>
              </li>
            </ul>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>