<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <a class="navbar-brand" href="#">
    Hollywood Management
  </a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="true" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Tournament</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem [routerLink]="['/tournament/add']">Add Tournament</button>
        <button ngbDropdownItem [routerLink]="['/tournament']">View Tournaments</button>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Event</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem [routerLink]="['/event/add']">Add Event</button>
        <button ngbDropdownItem [routerLink]="['/event']">View Events</button>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Event Detail</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem [routerLink]="['/eventDetail/add']">Add Event Detail</button>
        <button ngbDropdownItem [routerLink]="['/eventDetail']">View Event Details</button>
      </div>
    </li>
  </ul>
  
</div>
</nav>

<router-outlet></router-outlet>